<div id="<%= dom_id muffin %>">
  <p>
    <strong>Id:</strong>
    <%= muffin.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= muffin.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= muffin.price %>
  </p>

</div>
